{{ range $tag := .Params.tags }}
    {{ if eq $tag "Python" }}
    <span class="tag" style="background-color: {{ $.Site.Params.color.Python }} color: white;">{{ $tag }}</span>
    {{ else if eq $tag "Statistics" }}
    <span class="tag" style="background-color: {{ $.Site.Params.color.Statistics }};">{{ $tag }}</span>
    {{ else if eq $tag "Julia" }}
    <span class="tag" style="background-color: {{ $.Site.Params.color.Julia }};">{{ $tag }}</span>
    {{ else if eq $tag "Optimization" }}
    <span class="tag" style="background-color: {{ $.Site.Params.color.Optimization }};">{{ $tag }}</span>
    {{ else }}
    <span class="tag" style="background-color: #423939;">{{ $tag }}</span> 
    {{ end }}
{{ end }}