{{ range $tag := .Params.tags }}
    {{ if eq $tag "Python" }}
    <span class="tag" style="background-color: {{ $.Site.Params.color.Python }};">{{ $tag }}</span>
    {{ else if eq $tag "Math-Statistics" }}
    <span class="tag" style="background-color: {{ $.Site.Params.color.Math_Statistics }};">{{ $tag }}</span>
    {{ else if eq $tag "Julia" }}
    <span class="tag" style="background-color: {{ $.Site.Params.color.Julia }};">{{ $tag }}</span>
    {{ else if eq $tag "Julia" }}
    <span class="tag" style="background-color: {{ $.Site.Params.color.Julia }};">{{ $tag }}</span>
    {{ else }}
    <span class="tag" style="background-color: #423939;">{{ $tag }}</span> 
    {{ end }}
{{ end }}