<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<div>
<div>This post is a series of Statistical Fallacies series. Read other&rsquo;s post about statistical fallacies :</div>
<ul>
<li>[<a href="https://vinson2233.netlify.app/posts/false-causality-statistical-experiment-and-love/">False Causality - Statistical Experiment and Love</a>]</li>
<li>[<a href="https://vinson2233.netlify.app/posts/danger-of-summary-metrics-correlated-variables">Danger of Summary Metrics - Correlated Variables</a>]</li>
</ul>
</div>